body{
	padding:0px;
	margin:0px;
}
a:hover{
	text-decoration:none;
}
.container-fluid {
	padding:0px;
}
.top_bar{
	background:#f2f2f2;
	position:fixed;
}
.logo{
	background:#14171a;
	text-align:center;
}
.top_menu{
}
.top_menu ul{
}
.top_menu ul li{
	list-style:none;
	display:inline-block;
	padding: 15px;
	width: 50px;
}
.top_menu ul li a{
	color:#333;
	font-size:17px;
}
.top_menu ul li a:hover{
	color:#999;
	text-decoration:none;
}
#search_wrapper {
	float:left;
	margin: 13px 10px 10px 10px;
}

#search input[type="text"], #search input[type="password"] {
	outline:none;
    background: url(images/search-dark.png) no-repeat 10px 8px ;
	background-color:#fff;
    border: 0 none;
    font: 12px Arial,Helvetica,Sans-serif;
    color: #666;
    width: 500px;
    padding: 6px 15px 6px 35px;
    box-shadow: none;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	border:1px solid #ddd;
    }

#search input[type="text"]:focus {
    }

.user-wrapper{
padding: 10px;

}
.user{
	float: left;
	margin: 10px 20px;
}
.username{
	color: #333;
	font-size: 20px;
}
.dropdown-menu {
	left:auto;
	}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
background-color: #384152;
background-image:none;
}
.caret {
margin-top: 15px;
display: inline-block;
width: 3px;
height: inherit;
vertical-align: middle;
border-top: 6px solid #FFF;
border-right: 4px solid transparent;
border-left: 5px solid transparent;
content: "";
}
.logout{
float: left;
margin: 10px 0px;
}
.profile-pic{
	float:left;
	border-radius:30px;
	overflow:hidden;
}
.button{
background: #ff6600;
box-shadow: none;
border-radius: 3px;
border: none;
color: #fff;
padding: 7px 10px;
width: 140px;
}

.sidebar{
	background:#1f2428;
}
.cat_title{
color: #fff;
font-size: 18px;
margin: 30px 0px;
}
.sidebar{
	height: 100%;
position: fixed;
margin-top: 60px;}

.sidemenu{
}
.sidemenu ul{
	margin:0px;
}
.sidemenu ul li{
	list-style:none;
	height:30px;
}
.sidemenu ul li a{
	color:#ccc;
}
.sidemenu ul li a:hover{
	text-decoration:none;
	color:#f3f3f3;
}
.items_holder{
	margin-top:40px;
}
.items_holder ul{
}
.items_holder ul li{
	list-style:none;
	float:left;
	margin:20px 10px;
}
.items_holder ul li a:hover .item_wrapper{
	border:1px solid #ddd;
}
.item_wrapper{
	color:#666;
	border:1px solid #ddd;
	padding:3px;
}
.item_img{
	width:214px;
	border-radius:5px;
	overflow:hidden;
}
.item_detail{
	padding:5px 3px;
}
.item_name{
	float:left;
}
.item_price{
	float:right;
}
.black_overlay{
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #e9eaed;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.95;
            filter: alpha(opacity=80);
        }
        .white_content {
            display: none;
			top:10%;
			left:20%;
            position: fixed;
            width:750px;
			margin:10px auto;
            padding: 30px;
            z-index:1002;
            overflow: auto;
        }
.detail_wrapper{
	background:#fff;
	border-radius: 3px;
	padding:20px;
}
.detail_gallery{
	width:300px;
	float:left;
}
.details_right_wrapper{
	width:380px;
	float:right;
}
.detail_item_title{
color: #999;
font-size: 24px;
line-height: 30px;
margin-top: 20px;
}
.detail_item_price{
color: #999;
font-size: 18px;
line-height: 35px;
}
.detail_item_descrp{
color: #666;
margin: 10px 0px;
text-align: justify;
}
.detail_addCart{
	margin:25px 0px;
}
.nav-tabs{
	border:none;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	border:none;
	border-bottom:1px solid #ddd;
}


.login_wrapper{
background: #f1f1f1;
border-radius: 3px;
margin: 80px 0px;
padding: 20px;
box-shadow:0px 0px 1px 1px #ddd;
}
#login_wrapper {
	margin: 10px auto;
	width:250px;
}

#login input[type="text"], #login input[type="password"] {
	outline:none;
    border:1px solid #ddd;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #333;
    width: 200px;;
	height:30px;
    padding: 3px 15px 3px 35px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	margin-bottom:10px;
	background:#fff;
    }
#login #username{
	background-image: url(images/user.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}
#login #password{
	background-image: url(images/lock.png) ;
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

#login input[type="text"]:focus, #login input[type="password"]:focus {
    box-shadow:none;
	background-position: 10px -19px;
    }
.login_btn{
	margin:20px 0px;
	text-align:center;
}
.login_title{
text-align: center;
font-size: 28px;
line-height: 40px;
}


.product_holder{
	background:#f2f2f2;
	margin:50px;
}
.product_holder ul li{
	border-bottom:1px solid #ddd;
	list-style:none;
}
.product_image{
	float:left;
	width:80px;
	margin:15px;
}
.product_details_wrapper{
	float:left;
	margin:10px;
	width:400px;
}
.product_name{
	font-size:18px;
	line-height:30px;
	color:#333;
}
.product_price{
	font-size:16px;
	color:#666;
	line-height:30px;
}
.product_cat{
	color:#666;
	font-size:15px;
}
.product_descr{
	color:#666;
	font-size:12px;
}

.home_link{
	margin-top:50px;
}
.home_link ul{
	margin:0px;
	}
.home_link ul li{
	list-style:none;
	cursor:pointer;
	color:#fff;
	display:block;
	line-height:30px;
	font-size:16px;
		padding:5px 25px;

}
.home_link ul li:hover{
	background:#14171a;
}
.product_text{
	font-size:20px;
	font-family:sans-serif;
	color:#666;
	line-height:40px;
}
#add_form input[type="text"], #add_form input[type="password"]{
	outline:none;
    border:1px solid #ddd;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #333;
    width: 200px;;
	height:30px;
    padding: 3px 15px 3px 15px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	margin-bottom:10px;
	background:#fff;
    }
#add_form textarea{
	outline:none;
    border:1px solid #ddd;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #333;
    width: 200px;;
    padding: 3px 15px 3px 15px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	margin-bottom:10px;
	background:#fff;
    }
#add_form input[type="text"]:focus, #add_form textarea:focus, #add_form input[type="password"]:focus{
	box-shadow:none;
}